<h1>Editing Customer Profile</h1>

<%= form_with scope: :customer_profile, model: @customer_profile, local: true do |f| %>
<div class="container-fluid d-flex  flex-column justify-contents-center align-items-center">
        <div class ='col-4 d-flex justify-contents-start align-items-center'>
        <%= f.label :name %><br>&ensp;&ensp;
        <%= f.text_field(:name, {:class => "form-control"}) %>
      </div>

    <div class ='col-4 d-flex justify-contents-center align-items-center'>
        <%= f.label :address %><br>
        <%= f.text_field(:address, {:class => "form-control"}) %>
      </div>

      <div class ='col-4 d-flex justify-contents-start align-items-center'>
        <%= f.label :Phone %><br>&ensp;&ensp;
        <%= f.text_field(:phone, {:class => "form-control"}) %>
      </div>
      <div class =' d-flex justify-contents-start align-items-center'>
        <%= f.submit({:class => "btn btn-primary"}) %>
      </div>
  </div>
<% end %>
<%= link_to 'Show', @customer_profile %> |
<%= link_to 'Back', customer_profiles_path %>
