<h1>New Customer Profile</h1>

<h1>New User Profile</h1>


<%= form_with scope: :customer_profile, @customer_profile, local: true do |form| %>

  <!---depend whether we need want to add a user image -->
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :address%><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
      <%= form.submit %>
    </p>
  <% end %>

<%= link_to 'Back', customer_profiles_path %>
