<p id="notice"><%= notice %></p>

<div class='container container-fluid'>

<table class = "d-flex justify-content-center">
    <h2>Your Details</h2>
  <tr>
    <td>
      <h4>Name:</h4>
      </td>
      <td>
        <h4><%= current_customer.customer_profile.name %><br></h4>
        </td>
    </tr>
    <tr>
      <td>
        <h4>Address:</h4>
        </td>
        <td>
          <h4><%= current_customer.customer_profile.address %><br></h4>
          </td>
      </tr>
      <tr>
        <td>
          <h4>Phone:</h4>
          </td>
          <td>
            <h4><%= current_customer.customer_profile.phone %><br></h4>
            </td>
        </tr>
  </table>


  <table class="table table-sm">
      <thead>
          <tr>
              <td><h5>View Your Order</h5> </td>
              <td><h5>View Post</h5></td>
              <td><h5>Total Payable</h5></td>
          </tr>
      </thead>

      <tbody>
          <% @orders.each do |order| %>
              <tr>
                  <td><%= button_to "View Order", order_path(order.id), {method:'get', class:'btn btn-primary btn-style'} %></td>
                  <td><%= link_to order.post.title, post_path(order.post.id)%>  </td>
                  <td>$<%= order.menu_items.sum(:price) %></td>
              </tr>
          <% end %>
      </tbody>
  </table>

<br />
<div class= "col-12 d-flex justify-content-center">
  <%= button_to 'Edit Profile', edit_customer_profile_path(@customer_profile), {method:'get', class:'btn btn-primary btn-style'} %><br />
     &ensp;<%= button_to 'Back', posts_path, {method:'get', class:'btn btn-primary btn-style'}%>
  </div>

<br />
