<p id="notice"><%= notice %></p>

<div class='container container-fluid'>

<table class = " offset-1 col-10 d-flex justify-content-start">
  <tr>
    <td>
    <h2>Your Details</h2>
      </td>

    </tr>

  <tr>
    <td>
      <h4>Name:</h4>
      </td>
      <td>
        <h4><%= current_customer.customer_profile.name %><br></h4>
        </td>
    </tr>
    <tr>
      <td>
        <h4>Address:</h4>
        </td>
        <td>
          <h4><%= current_customer.customer_profile.address %><br></h4>
          </td>
      </tr>
      <tr>
        <td>
          <h4>Phone:</h4>
          </td>
          <td>
            <h4><%= current_customer.customer_profile.phone %><br></h4>
            </td>
        </tr>
  </table>
<br />
  <div class = "offset-1 col-10">
  <table class="table table-sm text-center">
      <thead>
          <tr>
              <th>View Your Order</th>
              <th>View Post</th>
              <th>Total Payable</th>
          </tr>
      </thead>

      <tbody>
          <% @orders.each do |order| %>
              <tr>
                  <td><%= button_to "View Order", post_order_path(post_id: order.post.id, id:order.id), {method:'get', class:'btn btn-primary btn-style'} %></td>
                  <td style="padding-top:10px;"><strong><%= link_to order.post.title, post_path(order.post.id)%></strong></td>
                  <td style="padding-top:10px;">$<%= order.menu_items.sum(:price) %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
</div>
<br />
<div class= "col-12 d-flex justify-content-center">
  <%= button_to 'Edit Profile', edit_customer_profile_path(@customer_profile), {method:'get', class:'btn btn-primary btn-style'} %><br />
     &ensp;<%= button_to 'Back', posts_path, {method:'get', class:'btn btn-primary btn-style'}%>
  </div>

<br />
