
<div class= "container-fluid">
  <div class= "row">
    <div class= "col-12 d-flex flex-column justify-content-center align-items-center">
      <h2>New Order</h2>
      <h3>Restaurant Name: <%= @post.restaurant.name %></h3>
      <p>Minimum Spending: <%= @post.restaurant.minimum_spending %></p>
    </div>
  </div>

  <% if @menu_items.length > 0 %>
      <%= form_with scope: :order, url: post_orders_path, local: true do |form| %>
          <div class="offset-3 col-6 d-flex flex-row-wrap align-items-center justify-content-around">
            <%= form.collection_check_boxes :menu_item_ids, @menu_items, :id, :name %>
            </div>
          <div class='row'>
            <div class= "col-12 d-flex justify-content-center align-items-center">
              <br />
              <br />
              <%= form.submit "Save Order",({:class => "btn btn-primary"}) %>
              </div>
            </div>
      <% end %>
  <% else %>
      <h3>Menu is not available.</h3>
  <% end %>

    <div class=" col-12 d-flex justify-content-center">
        <button class ="btn btn-outline-primary"><%= link_to 'Back to Post', post_path(@post.id) %></button>
      </div>

  </div>
