
<div class= "container-fluid">
  <div class= "row">
    <div class= "col-12 d-flex flex-column justify-content-center align-items-center">
      <h2>New Order</h2>
      <h3>Restaurant Name: <%= @post.restaurant.name %></h3>
      <p>Minimum Spending: $<%= @post.restaurant.minimum_spending %></p>
    </div>
  </div>

  <div class="row">
  <div class="col-12 d-flex flex-column align-items-start justify-content-center">
  <div class = "col-12 d-flex justify-content-center align-items-center" id="checkbox">
  <% if @menu_items.length > 0 %>
      <%= form_with scope: :order, url: post_orders_path, local: true do |form| %>
                <%= form.collection_check_boxes(:menu_item_ids, @menu_items, :id, :something) do |b|%>
                <div class = "col-12 d-flex align-items-center">
                      <%= b.label(:"data-value" => b.value) { b.check_box + b.text }%>
                  </div>
                <%end%>
          </div>
      </div>
    </div>
  </div>
          <div class='row'>
            <div class= "col-12 d-flex justify-content-center align-items-center">
              <br />
              <br />
              <%= form.submit "Save Order",({:class => "btn btn-primary btn-style"}) %>
              </div>
            </div>
      <% end %>
  <% else %>
      <h3>Menu is not available.</h3>
  <% end %>

    <div class=" col-12 d-flex justify-content-center">
        <%= button_to 'Back to Post', post_path(@post.id),{method:'get', class:'btn btn-primary btn-style'} %>
      </div>

  </div>
