<p id="notice"><%= notice %></p>

<h1>Your order has been submitted successfully.</h1>

<p>Order is created at: <%= @order.created_at %></p>
<p>Expected delivery time: <%= @order.created_at + 2 * 60 * 60%></p>

<table class="table table-sm text-center">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <% @order.menu_items.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
            </tr>
        <% end %>
        <tr>
            <td class="text-right">
                <strong>Total amount payable: </strong>
            </td>
            <td>
                <strong><%= @order.menu_items.sum(:price) %></strong>
            </td>
        </tr>
    </tbody>
</table>

<%= link_to 'Back to Post', post_path %>
