<p id="notice"><%= notice %></p>

<h1>Welcome to MQ!</h1>
<h1>Posts</h1>


<div class='container'>
  <% @posts.each_slice(3) do |post| %>
    <div class="row">
      <% post.each do |k| %>
        <div class='col-md-4'>
          <div class="card">
            <img src="<%= k.restaurants.image_url%>" class="card-img-top">
            <div class="card-body">

              <h5 class="card-title"><b>Title:</b> <%=k.title%></h5>
              <p class="card-text"><b>Message: </b><%=k.message%></p>
              <hr/>

                <%= link_to 'Edit', edit_post_path(k)%></p>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
<%else%>


<%= link_to 'New Post', new_post_path %>
