<p id="notice"><%= notice %></p>

<h1>Welcome to MQ!</h1>
<h1>Posts</h1>

<div class="row sticky">
  <div class="btn post-new">
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>


<div class='container'>
  <% @posts.each_slice(3) do |post| %><br>
    <div class="row">
      <% post.each do |k| %>
        <div class='col-md-4'>
          <div class="card">
            <img src="<%= k.restaurant.image_url%>" class="card-img-top">
            <div class="card-body">

              <h5 class="card-title"><%=k.title%></h5>
              <p class="card-text"><%=k.message%></p>
              <hr/>
              <div class="btn btn-warning">
                <%= link_to 'Show', post_path(post) %> 
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
<%else%>



