<div class='container'>
  <div class="row post-row">
    <div class='col-md-4'>
      <div class="search-bar">
        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "search-box" %>
          <%= submit_tag "", class: "search-butt" %>
        <% end %>
      </div>
    </div>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <%= button_to 'New Post', new_post_path,  {method: 'get', class: 'new-post-btn'} %>
    </div>
  </div>  
</div>






<div class='container'>
  <% @posts.each_slice(3) do |post| %><br>
    <div class="row">
      <% post.each do |k| %>
        <div class='col-md-4'>
          <div class="card">
            <img src="<%= k.restaurant.image_url%>" class="image">

            <div class="overlay">
              <div class="title"><strong><%=k.title%></strong></div>
              <div class="message"><%=k.message%></div>

              <div class="btn btn-block">
                  <%= button_to 'Find out more', post_path(k.id), {method: 'get', class: 'show-butt'} %> 
              </div>

            </div>

          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
<%else%>




