<h1>New Post</h1>


<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <div class="container">
    <div class="row">
      <div class"“col-4" style="text-align:right">   
        <p>
          <%= form.label :title %>
        </p>
        
        <p>
          <%= form.label :Restaurant %><br>
        </p>

        <p>
          <%= form.label :pickup_location %><br>
        </p>
      
        <p>
          <%= form.label :message %><br>
        </p>

        <p>
          <%= form.submit %>
        </p>
        <%= link_to 'Back', posts_path %>
      </div>

      <div class="col-4" style="text-align:left">   
        <p>
          <%= form.text_field :title %>  
        </p>
        
        <p>
          <%= collection_select(:post, :restaurant_id, Restaurant.all, :id, :name, {prompt: true}, {:id => 'post_restaurant_id'}) %>
        </p>
        
        <p>
          <%= form.text_field :pickup_location %>
        </p>
      
        <p>
          <%= form.text_area :message %>
        </p>
      </div>

      <div class="col-4" style="text-align:right">
        <div id="result-name">
        </div>
        <div id="result-minimum">
        </div>
        <div id="result-image">
        </div>
      </div>
    </div>
  </div>
<% end %>




