<body>
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex flex-column">
              <div class="row d-flex ">
                <table class= "d-flex align-items-start">
                  <tr>
                    <td>
                      <h3>Subject:</h3>
                      </td>
                      <td>
                          <h3><%= @post.title %></h3>
                        </td>
                    </tr>
                    <tr>
                      <td>
                          <p><strong>Restaurant:</strong></p>
                        </td>
                        <td>
                            <p><%= @restaurant.name %></p>
                          </td>
                      </tr>
                      <tr>
                        <td>
                          <p><strong>Location :</strong></p>
                          </td>
                          <td>
                          <p><%= @post.pickup_location %></p>
                            </td>
                        </tr>
                  </table>

                </div>

              <div class="row d-flex justify-content-center">


                </div>

              <div class="row d-flex justify-content-center">


              </div>

              <div class="row d-flex justify-content-center">
                  <p><strong>Message:</strong></p>
                  <p><%= @post.message %></p>
              </div>

              <div class="row">
                <p><strong>Posted By:</strong></p>
                <p><%= @poster.email %></p>
              </div>
              <!-- this is the end of the container div -->
            </div>

        </div>
    </div>

    <table class="table table-sm text-center">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Total Payable</th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= link_to order.id, post_order_path(post_id: @post.id, id: order.id) %></td>
                    <td><%= order.customer.customer_profile.name %></td>
                    <td><%= order.total_payable %></td>
                </tr>
            <% end %>
            <tr>
                <td colspan="2" class="text-right">
                    <strong>Total amount for the orders for this post: </strong>
                </td>
                <td>
                    <strong><%= @orders.sum(:total_payable) %></strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <strong>Minimum spending for this restaurant: </strong>
                </td>
                <td>
                    <strong><%= @post.restaurant.minimum_spending %></strong>
                </td>
            </tr>
        </tbody>
    </table>
<br/>
<br/>

    <% if @orders.sum(:total_payable) > 0 && @orders.sum(:total_payable) >= @post.restaurant.minimum_spending %>
        <p style="text-align: right">** 20% Discount is applied to all orders of this post.</p>
    <% else %>
        <p style="text-align: center">
            ** Get your friends to order before the closing window to get more discount!
        </p>
    <% end %>
</body>

<p style="text-align: center">
    <%= link_to 'JOIN IN ORDER', new_post_order_path(@post.id) %>
</p>
<button class ="btn btn-outline-primary"><%= link_to 'Back', posts_path %></button>



