<body>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>
                <strong>Title:</strong>
                </h1>

                <p>
                <strong>Restaurant:</strong>
                </p>

                <p>
                <strong>Pick Up Location:</strong>
                </p>

                <p>
                <strong>Message:</strong>
                </p>

                <p>
                <strong>Posted By:</strong>
                </p>

                <br>
                <%= link_to 'New Order', new_post_order_path(@post.id) %>
                <%= link_to 'Back', posts_path %>
            </div>

            <div class="col-6">
                <h1>
                <%= @post.title %>
                </h1>

                <p>
                <%= @restaurant.name %>
                </p>

                <p>
                <%= @post.pickup_location %>
                </p>

                <p>
                <%= @post.message %>
                </p>

                <p>
                <%= @poster.email %>
                </p>

                <br>
            </div>
        </div>
    </div>

    <table class="table table-sm">
        <thead>
            <tr>
                <td>Order ID</td>
                <td>Post ID</td>
                <td>Customer ID</td>
                <td>Menu Items & Price</td>
                <td>Total Payable</td>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.post_id %></td>
                    <td><%= order.customer_id %></td>
                    <td>
                        <% order.menu_items.each do |item| %>
                            <%= item.name %>: <%= item.price %>
                        <% end %>
                    </td>
                    <td><%= order.total_payable %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <p>Minimum spending for this restaurant: <%= @post.restaurant.minimum_spending %></p>
    <p>Total amount for the orders for this post: <%= @orders.sum(:total_payable) %></p>

    <% if @orders.sum(:total_payable) > 0 && @orders.sum(:total_payable) >= @post.restaurant.minimum_spending %>
        <p>** 20% Discount is applied to all orders of this post.</p>
    <% else %>
        <p>** Get your friends to order before the closing window to get more discount!</p>
    <% end %>
</body>