<body>
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex flex-column">
              <div class="row d-flex ">
                <table class= "d-flex align-items-start">
                  <tr>
                    <td>
                      <h3>Subject:</h3>
                      </td>
                      <td>
                          <h3><%= @post.title %></h3>
                        </td>
                    </tr>
                    <tr>
                      <td>
                          <p><strong>Restaurant:</strong></p>
                        </td>
                        <td>
                            <p><%= @restaurant.name %></p>
                          </td>
                      </tr>
                      <tr>
                        <td>
                          <p><strong>Location :</strong></p>
                          </td>
                          <td>
                          <p><%= @post.pickup_location %></p>
                            </td>
                        </tr>
                  </table>

                </div>

              <div class="row d-flex justify-content-center">


                </div>

              <div class="row d-flex justify-content-center">


              </div>

              <div class="row d-flex justify-content-center">
                  <p><strong>Message:</strong></p>
                  <p><%= @post.message %></p>
              </div>

              <div class="row">
                <p><strong>Posted By:</strong></p>
                <p><%= @poster.email %></p>
              </div>
              <!-- this is the end of the container div -->
            </div>

        </div>
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <td>Order ID</td>
                <td>Post ID</td>
                <td>Customer ID</td>
                <td>Menu Items & Price</td>
                <td>Total Payable</td>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.post_id %></td>
                    <td><%= order.customer_id %></td>
                    <td>
                        <% order.menu_items.each do |item| %>
                            <%= item.name %>: <%= item.price %>
                        <% end %>
                    </td>
                    <td><%= order.menu_items.sum(:price) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</body>
<br/>
<br/>
<button class ="btn btn-outline-primary"><%= link_to 'Back', posts_path %></button>
