<body>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
              <div class="row d-flex ">
                <table class= "d-flex align-items-start">
                  <tr>
                    <td><h3>Subject:</h3>
                    </td>
                    <td>
                        <h3><%= @post.title %></h3>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <p><strong>Restaurant:</strong></p>
                        </td>
                        <td>
                            <p><%= @restaurant.name %></p>
                          </td>
                      </tr>
                      <tr>
                        <td>
                          <p><strong>Location :</strong></p>
                          </td>
                          <td>
                          <p><%= @post.pickup_location %></p>
                            </td>
                        </tr>
                        <tr>
                          <td>
                              <p><strong>Message:</strong></p>
                          </td>
                          <td>
                            <p><%= @post.message %></p>
                          </td>
                          </tr>
                          <tr>
                            <td>
                              <p><strong>Posted By:</strong></p>
                            </td>
                            <td>
                              <p><%= @poster.email %></p>
                            </td>
                            </tr>
                  </table>

                </div>


              <!-- this is the end of the container div -->
            </div>

        </div>
    </div>

    <table class="table table-sm text-center">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Total Payable</th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= button_to "View Order", order_path(order.id), {method:'get', class:'btn btn-primary btn-style'}%></td>
                    <td><%= order.customer.customer_profile.name %></td>
                    <td><%= order.total_payable %></td>
                </tr>
            <% end %>
            <tr>
                <td colspan="2" class="text-right">
                    <strong>Total amount for the orders for this post: </strong>
                </td>
                <td>
                    <strong>$<%= @orders.sum(:total_payable) %></strong>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <strong>Minimum spending for this restaurant: </strong>
                </td>
                <td>
                    <strong>$<%= @post.restaurant.minimum_spending %></strong>
                </td>
            </tr>
        </tbody>
    </table>
<br/>
<br/>

    <% if @post_amount > 0 && @post_amount >= @post.restaurant.minimum_spending %>
        <p style="text-align: right">** 20% Discount is applied to all orders of this post.</p>
        <% @post.update(discount_achieved: "true") %>
    <% else %>
        <p style="text-align: center">
            ** Get your friends to order before the closing window to get more discount!
        </p>
    <% end %>
</body>

<div class= "col-12 d-flex justify-content-center">
 
    <% if @post.discount_achieved == false %>
        <% if current_customer.id == @post.customer_id %>
             <%= button_to 'ADD ORDER', new_post_order_path(@post.id),{method:'get', class:'btn btn-primary btn-style'} %> &ensp;
        <% else %>
            <%= button_to 'JOIN IN ORDER', new_post_order_path(@post.id),{method:'get', class:'btn btn-primary btn-style'} %> &ensp;
        <% end %>
    <% else %>
        <p>This post is closed and is no longer accepting orders.</p>
    <% end %>

 <%= button_to 'Back', posts_path,{method:'get', class:'btn btn-primary btn-style'}%>

</div>
