<!DOCTYPE html>
<html>
  <head>
    <title>MQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <style> .hover-col:hover {color:#A44704;}</style>

      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A44704; padding-right:260px ">
             <a class="navbar-brand hover-col" href="/" style="  color:#ffeecc; padding-left:200px"><strong><img src="https://i.imgur.com/Qug6PDO.png" class ="logo">MQ</strong></a>
             <div class="container-fluid">
                 <div class="row navbar-nav" style="padding-left: 50px;">
                   <div class="d-flex justify-content-start align-items-center">
                     <a class="nav-item nav-link active"><strong><%=link_to 'Posts', posts_path%></strong></a>
                     <a class="nav-item nav-link active" href="/#faq" style=" color:#ffeecc; padding-bottom: 8px; padding-left:20px;"><strong>FAQs</strong></a>
                     </div>

                 </div>
                 <div class="row">
                   <div class ="d-flex align-items-start">

                     <% if customer_signed_in? %>
                     <% if current_customer.customer_profile != nil%>
                     <div class = "d-flex align-items-center">
                        <p style="color:#ffeecc; padding-top: 15px;">Welcome Back <strong><%= link_to current_customer.customer_profile.name , customer_profile_path(current_customer.customer_profile.customer_id) %></strong></p>
                         <a class="nav-item nav-link">
                             <strong><%= link_to 'Logout', destroy_customer_session_url, method: :delete %></strong>
                         </a>
                         <% else %>

                         <p>
                         <%= link_to 'Create Profile', new_customer_profile_path%>
                           </p>
                           <% end %>
                     <% else %>
                         <a class="nav-item nav-link">
                             <strong><%= link_to 'Login', new_customer_session_url %></strong>
                         </a>
                     <% end %>
                       </div>
                    </div>
                 </div>
             </div>
         </nav>
         <div class = "container container-fluid">

             <%= yield %>
             <%= insert_paloma_hook %>

         </div>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
  <div class ="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer class="text-center">
      <div class = 'col-12 d-flex flex-column justify-content-end align-items-end'>


        &copy; Copyright 2019 Minimum Quantity
      </div>
      </footer>
    </div>



</html>
